//**************************************************
// settings
//**************************************************
//
// - colours
// - dimensions
// - fonts
// - buttons
//
//**************************************************
// colours
//**************************************************
$black: #000000;

$blue: #172A4D;

$grey-light: #f2f2f2;
$grey: #666666;
$grey-dark: #333333;

$green-light: #71a32b;
$green: #398439;

$primary-light: lighten($green-light, 60%);
$primary: $green-light;
$secondary: $blue;

//**************************************************
// dimensions
//**************************************************
$site-width: rem-calc(1200);

//**************************************************
// fonts
//**************************************************
$body-font: $black;

$bold: 700;

$fontAwesome: normal normal normal 14px/1 FontAwesome;
$openSans: 'Mueso Sans', sans-serif;
$playfair: 'Mueso Slab', serif;

//**************************************************
// buttons
//**************************************************
$global-radius: rem-calc(7);