<div class="container page-padding">

  <filtered-table :filters="<%= @filters %>" :projects="<%= @evaluations %>" :attributes="<%= @table_attributes %>">
  </filtered-table>

</div>

<modal></modal>
