$tooltip-background-color: white;
$tooltip-border-color: black;

.tooltip {
  margin-left: rem-calc(4);

  position: relative;

  &__trigger {
    cursor: pointer;

    display: inline-block;
  }

  &__target {
    border: solid 1px $grey-dark;
    border-radius: $global-radius;
    color: $body-font;
    font-size: ren-calc(16);
    font-weight: 400;
    line-height: 1.3;
    padding: rem-calc(10 12);
    width: rem-calc(200);

    background-color: $tooltip-background-color;

    position: absolute;
    top: calc(100% + 14px);
    left: 50%;
    z-index: 1;

    transform: translateX(-50%);

    &:before {
      border-bottom: solid 10px $tooltip-border-color;
      border-right: solid 10px transparent;
      border-left: solid 10px transparent;
      content: '';
      width: 0; height: 0;

      position: absolute;
      top: -10px;
      left: 50%;

      transform: translateX(-50%);
    }

    &:after {
      border-bottom: solid 9px $tooltip-background-color;
      border-right: solid 9px transparent;
      border-left: solid 9px transparent;
      content: '';
      width: 0; height: 0;

      position: absolute;
      top: -9px;
      left: 50%;

      transform: translateX(-50%);
    }
  }
}