//**************************************************
// header
//**************************************************
.header {
  background: image-url('hero.jpg') no-repeat bottom center;
  background-size: cover;
  padding-top: rem-calc(94);
  height: rem-calc(680);

  position: relative;

  a { color: white;
    &:hover { text-decoration: none; } 
  }

  &__title-box {
    color: white;
    font-size: rem-calc(20);
    padding: rem-calc(0 20);
    width: 80%;
  }

    &__divider {
      border-top: solid rem-calc(2) white;
      margin-bottom: rem-calc(20);
      width: rem-calc(66);

      display: block;
    }

    &__description {
      margin-bottom: 1.5em;
    }

    &__date {
      font-size: rem-calc(18);
    }

  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}