$logo-height: rem-calc(31);
$unepwcmc-w-to-h-ratio: 118/27;

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: rem-calc(26);

  display: inline-block;

  &-iucn {
    background-image: image-url('logos/logo-iucn.png');
    width: $logo-height; height: $logo-height;
  }

  &-unepwcmc {
    background-image: url('https://s3.amazonaws.com/wcmc.logo/UNEP_WCMC_logo_white.svg');
    background-position: center;
    width: $unepwcmc-w-to-h-ratio * $logo-height; height: $logo-height;
  }
}