.logo {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: rem-calc(26);

  display: inline-block;

  &-iucn {
    background-image: image-url('logos/logo-iucn.png');
    width: rem-calc(31); height: rem-calc(31);
  }

  &-unepwcmc {
    background-image: url('https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg');
    width: rem-calc(94); height: rem-calc(31);
  }
}