<footer class="footer">
  <div class="footer--blue footer__bottom">
    <span class="footer__copyright">&copy; Copyright <%= Date.today.year %></span>

    <%= link_to '', 'https://www.unep-wcmc.org/', class: 'footer__logo logo logo-unepwcmc', title: 'Visit the UN Environment World Conservation Monitoring Centre website' %>
    <%= link_to '', 'https://www.iucn.org/', class: 'footer__logo logo logo-iucn', title: 'Visit the IUCN website' %>
</div>
</footer>
