<header class="header">
  <div class="container">
    <div class="header__title-box">
      <h1>Global Database<br>on Protected Area Management Effectiveness</h1>
      <span class="header__divider"></span>
      <p class="header__description"><strong>The Global Database on Protected Area Management Effectiveness</strong> (<%= link_to 'GD-PAME', 'https://protectedplanet.net/c/protected-areas-management-effectiveness-pame', title: 'View information about Protected Areas Management Effectiveness', target: '_blank' %>) is the most comprehensive global database of management effectiveness assessments for protected areas (PAME). It indicates if a protected area documented in the World Database on Protected Areas (<%= link_to 'WDPA', 'https://protectedplanet.net/', title: 'View the World Database on Protected Areas website', target: '_blank' %>) has been assessed. The GD-PAME is a searchable database that includes assessments submitted by a wide range of governmental and non-governmental organizations to UNEP-WCMC, and is updated on a monthly basis.</p>
      <p class="header__date"><strong>Last update:</strong> <%= Date.today.strftime('%B %Y') %></p>
    </div>

  </div>

  <div class="header__bottom">
    <div class="triangle--transparent"></div>
  </div>
</header>
