<header class="header">
  <div class="container">
    <div class="header__title-box">
      <h1>Global Database<br>on Protected Area Management Effectiveness</h1>
      <span class="header__divider"></span>
      <p><strong>The Global Database on Protected Area Management Effectiveness</strong> (GD-PAME) is the most comprehensive global database of protected area management effectiveness (PAME) evaluations. It indicates if a protected area in the <%= link_to 'World Database on Protected Areas', 'https://protectedplanet.net/', title: 'View the World Database on Protected Areas website' %> (WDPA) has been assessed. it is compiled in collaboration with a wide range of governmental and non-governmental organizations and updated on a monthly basis.</p>
    </div>
  </div>

  <div class="triangle--transparent"></div>
</header>